/*=============================================================
 * Client Past Encounters and Documents
 * seen in the client encounter screen
 *============================================================*/

#client_pastenc {
    width: 100%;
}
#client_pastenc .billing_note {
    width: 25%;
}
#client_pastenc .billing_note_text {
    padding: 5px;
    border: 2px outset black;
    background-color: lightgrey;
}
#client_pastenc .billing_note_text_highlight {
    background-color: #f7f5d1;
}
#client_pastenc table {
    border-collapse: collapse;
    width: 100%;
}
#client_pastenc tr {
    cursor: pointer;
}
#client_pastenc td {
    border-top: 1px solid black;
    vertical-align: top;
}
#client_pastenc th {
    text-align: $left;
}
#client_pastenc #tooltipdiv {
    position: absolute;
    width: 500px;
    border: 1px solid black;
    padding: 2px;
    background-color: #ffffaa;
    visibility: hidden;
    z-index: 1000;
}
#client_pastenc .highlight {
    background-color: #fff;
}
#client_pastenc .tooltip {
    position: absolute;
    border: 1px solid #333;
    background: #f7f5d1;
    padding: 2px 5px;
    color: #333;
    display: none;
}