/*=============================================================
 * Client Stats Summary
 * seen in the client summary screen
 *============================================================*/

#client_stats_summary table {
    border-collapse: collapse;
}
#client_stats_summary .noend_noreturn {
    color: #ee0000;
}
#client_stats_summary .noend {
    color: #dd5500;
}
#client_stats_summary .noreturn {
    color: #0000ff;
}
#client_stats_summary .title {
    font-size: 1.1em;
}
#client_stats_issues {
    width: 100%;
}
#client_stats_spreadsheets {
    width: 100%;
}
#client_stats_imm {
    width: 100%;
}
#client_stats_prescriptions {
    width: 100%;
}